language: node_js
node_js:
  - "stable"
script:
  - npm run min
  - mkdir build
  - cp *.js build
deploy:
  provider: s3
  access_key_id: MY AWS ACCESSKEY
  secret_access_key:
    secure: TcmIXPbfCKtextYOd9eSPQSSaSsPNtWzAZEuaoVzeAdua3t8c0cwNL4LDUKwVaxW000PErgFmss4EIDpWWmcIkJSw535Dv6Z5XDym7c3ulmtAB9kMXaZAdrI74iKrav9975/tbdzB5gVSlnyIeTQgl4BsWjEaAGxsdk171zL7XA=
  bucket: cdn.coveodemo.com
  endpoint: cdn.coveodemo.com.s3-website-us-west-2.amazonaws.com
  skip_cleanup: true
  local_dir: build
  acl: public_read
