language: node_js
notifications:
  email:
    on_success: never
    on_failure: never
node_js:
- stable
script:
- npm run lint
- npm run test
- npm run min
- mkdir deploy
- cp coveo.analytics.js coveo.analytics.min.js coveo.analytics.min.map deploy/
# after_success:
#    - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
deploy:
  provider: s3
  access_key_id: AKIAJ27XTXPEB34RSVEQ
  secret_access_key:
    secure: W7follGE8TO7w0FIM70iUhiSRQinHuotGM+QHSzGylfATP4G7TlTsivFuVAOQx9IS4Sr9nSbRZdcohlu1VAcTmxPUgvz++93rVNhOwmOhIfAxVLgVHREo+gdUEIfOPSOCw9NnTrOU1vad/YcD02LmEubqEUW+Z1wugIZkqoZNKc=
  bucket: testcdn.coveodemo.com
  skip_cleanup: true
  local-dir: deploy
  acl: public_read
  on:
    branch: release
    repo: Coveo/analytics.js
