language: node_js
notifications:
  email:
    on_success: never
    on_failure: never
node_js:
  - stable
script:
  - npm run lint
  - npm run test
  - npm run min
after_success:
  - mkdir -p "deploy/$TRAVIS_TAG"
  - cp coveo.analytics.js coveo.analytics.min.js coveo.analytics.min.map "deploy/$TRAVIS_TAG"
#    - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
deploy:
  provider: s3
  access_key_id: AKIAJ27XTXPEB34RSVEQ
  secret_access_key:
    secure: W7follGE8TO7w0FIM70iUhiSRQinHuotGM+QHSzGylfATP4G7TlTsivFuVAOQx9IS4Sr9nSbRZdcohlu1VAcTmxPUgvz++93rVNhOwmOhIfAxVLgVHREo+gdUEIfOPSOCw9NnTrOU1vad/YcD02LmEubqEUW+Z1wugIZkqoZNKc=
  bucket: static.coveodemo.com
  skip_cleanup: true
  local-dir: deploy
  upload-dir: coveo.analytics.js
  acl: public_read
  on:
    tags: true
    repo: Coveo/coveo.analytics.js
